<html>

<head>
	<title>{{ .title }}</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/theme/material.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.min.js"></script>
	<script src="https://cdn.rawgit.com/carlo/jquery-base64/master/jquery.base64.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/python/python.min.js"></script>
	<script src="/assets/diff_match_patch.js"></script>
</head>

<style>
	.btn {
		background-color: DeepSkyBlue;
		border: none;
		color: white;
		padding: 10px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
</style>

<body>
	<h1>{{ .title }}</h1>

	<h2> tag is : <span id="tag"></span></h2>
	<input id="TagBtn" class="btn" type="button" value="btn" />

	<textarea id="editor">{{.data}}</textarea>

	<input id="SendBtn" class="btn" type="button" value="send" />

	<script>
		let myTextArea = document.getElementById("editor");
		let editor = CodeMirror.fromTextArea(myTextArea, {
			lineNumbers: true,
			lineWrapping: true,
			autofocus: true,
			theme: "material",
			mode:  "python"
		});

		let doc = editor.getDoc();

		let CursorPosition = editor.getCursor();

		$("#TagBtn").click(function() {
			var val = doc.getValue();
			if(val){
 				$.get("/ajax",
				     { Smt: val, Tag: "" },
				     function(data) {
					$("#tag").text(data.Tag);
			     	});
			}
		});

		let url = "ws://" + window.location.host + "/ws";
		let ws = new WebSocket(url);

		ws.onmessage = function(msg) {
			
			let p = msg.data.replace("Diffs", "diffs");
			p = p.replace("Length1", "length1");
			p = p.replace("Length2", "length2");
			p = p.replace("Start1", "start1");
			p = p.replace("Start2", "start2");
			
			let data = JSON.parse(p);
			
			for(var i in data){
				data[i].diffs = data[i].diffs.map(x => Object.values(x));
			}

			let dmp = new diff_match_patch();

			let result = dmp.patch_apply(data,doc.getValue())
			console.log(result)

			CursorPosition = editor.getCursor();

			doc.setValue(result[0]);

			editor.setCursor(CursorPosition);
		};

		editor.on('keyup', function () {
			ws.send(doc.getValue());
		})

		// console.log(doc.getLine(editor.getCursor()["line"]))
		// doc.getLine(editor.getCursor()["line"])


		// $("#SendBtn").click(function() {
		// 	if (doc.getValue() !== "") {
		// 		CursorPosition = editor.getCursor();
		// 		ws.send(doc.getValue());
		// 	}
		// });

	</script>

</body>

</html>
