<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/codemirror/CodeMirror/master/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/theme/material.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.min.js"></script>
    <script src="https://cdn.rawgit.com/carlo/jquery-base64/master/jquery.base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/javascript/javascript.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.10.0/mode/xml/xml.js"></script>

<div>
    <label>Tag: 
        <spam id="Tag"></spam>
    </label>
</div>
<input id="btn" type="button" value="button" style="margin: 10px 10px 10px 5px"/>
<div style="margin: 0px 10px 10px 5px">
    <label>Group name: 
        <spam id="Group-name">{{group_name}}</spam>
    </label>
</div>

<div style="margin: 0px 10px 10px 5px">
    <select id="setLanguage" onchange="getSelectValue()">
    <option value="python">Python</option>
    <option value="javascript">Javascript</option>
    <option value="java">Java</option>
    <option value="php">Php</option>
</select>
</div>
<div>
<textarea  id="ps" cols="50" formcontrolname="bodyControl" name="body"  rows="20" class="form-control" style="margin-left: 0px; height: 290px; width: 384px;"></textarea>
</div>

<script type="text/javascript">
    // selectedValue = getSelectValue();
    let myTextArea = document.getElementById("ps");
        let editor = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            lineWrapping: true,
            autofocus: true,
            theme: "material",
            mode:  "python"
        });

        let doc = editor.getDoc();

        let CursorPosition = editor.getCursor();

    function getSelectValue()
    {
        let selectedValue = document.getElementById("setLanguage").value;
        editor.setOption("mode", selectedValue);
    }
    var frm = $('#btn');
    frm.click(function () {
        var val = doc.getValue();
        $.get({
            url: "../ajax/",
            data: {
                Smt: val,
            },
            success: function (response) {
                $("#Tag").text(response);
            }
        });
        return false;
    });
</script>
